@using Microsoft.AspNetCore.Components.Authorization
@using DoradosBlazor.Shared;
@using DoradosBlazor.Client.Services;
@using System.Security.Claims;
@inject AuthenticationStateProvider autenticacionProvider
@using DoradosBlazor.Client.Extensiones;

@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager

@inject IUsuarioService usuarioService;
@inject IRolesService rolesService;
@inject NavigationManager navegacion;


<nav class="navbar glass-navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="LogoUDN.png" alt="Logo UD" style="height: 38px; margin-right: 0.7rem;" />
            Dorados App
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @(collapseNavMenu ? "" : "show")">
            <ul class="navbar-nav w-100 justify-content-center align-items-center gap-1 menu-list">
                <li class="nav-item">
                    <NavLink class="nav-link glass-link" href="/index" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <AuthorizeView Roles="Administrador">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link glass-link" href="/usuarios">Usuarios</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Alumno">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link glass-link" href="AdeudosAlumno">Adeudos</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Alumno">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link glass-link" href="Calificaciones">Boletas</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Profesor">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link glass-link" href="MateriasProfesores">MateriasProfesores</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Reclutador">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link glass-link" href="preinscripciones">Pre-inscripciones</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link glass-link" href="#" @onclick="CerrarSesion">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task CerrarSesion()
    {
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/", true);
    }
}